name: portfolio

services:
    portfolio:
        image: ghcr.io/stopthatshit/portfolio:main
        restart: unless-stopped
        networks:
            - traefik
        labels:
            - traefik.enable=true
            - traefik.http.routers.portfolio.entrypoints=websecure
            - traefik.http.routers.portfolio.rule=Host(`stoppedas.xyz`)
            - traefik.http.routers.portfolio.service=portfolio
            - traefik.http.services.portfolio.loadbalancer.server.port=80

networks:
    traefik:
        external: true
