---
import type { ComponentProps } from "astro/types";
import Skill from "./Skill.astro";

interface Props {
    title: string;
    skills: ComponentProps<typeof Skill>[];
    span?: boolean;
}

const { title, skills, span } = Astro.props;
---

<div class:list={["flex flex-col gap-2", span && "col-span-full"]}>
    <div class="flex flex-row items-start gap-2">
        <div class="ml-2 aspect-square w-8">
            <slot />
        </div>
        <h3>{title}</h3>
    </div>
    <div class="flex flex-row gap-2">
        {skills.map((skill) => <Skill {...skill} />)}
    </div>
</div>
