---
import NavEntry from "./NavEntry.astro";
---

<nav class="flex w-full items-center justify-between">
    <a href="/" class="text-2xl font-extrabold hover:text-teal-100"
        >stoppedas.xyz</a
    >
    <div class="flex items-center gap-4 font-bold">
        <NavEntry href="/projects" title="Projects" />
    </div>
</nav>
